html {
  margin: 0;
}

body {
  font-size: 16px;
}


/* Layout */
.container {
  width: 550px;
  height: 550px;
  border: 1px solid #d1d5db;
  margin: 0 auto;
  box-sizing: border-box;
}

form {
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.scheme, 
.get-btn {
  border: 1px solid #d1d5db;
  background-color: #fff;
}

.seed-color, 
.scheme, 
.get-btn {
  height: 42px;
  text-align: center;
}

.seed-color {
  width: 61px;
}

.scheme {
  width: 312px;
  border-radius: 6px;
}

.get-btn {
  width: 123px;
  border-radius: 4px;
  cursor: pointer;
}

.get-btn:hover, 
.get-btn:focus {
  scale: 1.05;
}

.get-btn:active {
  scale: 1;
}


/* Once colors and color names rendred by JS  */
.scheme-palette {
  display: flex;
  align-items: stretch;
  height: 414px;
}

.color {
  width: 20%;
}

.color:hover, 
.color:focus {
  scale: 1.03;
  border-radius: 10px;
}

.color:active {
  scale: 1;
}

.color-names {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-name {
  width: 20%;
  text-align: center;
}

